<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <script type="text/javascript" src="~/Scripts/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="~/Scripts/knockout-2.2.1.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
